@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
:root{
    --blue:#337ab7;
    --white:#fff;
    --yellow:#f39c12;
    --green:#00a65a;
    --red:#dd4b39;
    --navy:#001F3F;
    --sky: #0c1445;
    --ground: #684132;
    --moon: #f4f1c9;
    --star: #fff5f2;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 10px;
}
body {
    margin: 0;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    font-weight: 400;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Patrick Hand', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    cursor: pointer;
}
p{
    font-size: 3rem;
    color: var(--ground);
}
.container {
    width: 900px;
    height: 100vh;
    background-color: var(--sky);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*padding: 1%;*/
    color:white;
    margin: auto;
}
.gamePanel{
    width:100%;
    height:75%;
    background-color: var(--sky);
    display:flex;
    flex-direction:column;
    /*border:1px solid white;*/
}
.gamePanel #sky {
    background-color: var(--sky);
    height:70%;
    width:100%;
    position: relative
 }
#ground{
    display: flex;
    justify-content: center;
    align-items: center;
    height:30%;
    width:100%;
    display:inline-block;
    background-color: var(--ground);
    border-top-right-radius:100%;
    border-top-left-radius:100%;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    flex-direction: column;
}
.board {
    width: 100%;
    height: 25%;
    background-color: #0c1445;
    /* display: flex;
    justify-content: space-around; */
}
.row1{
    width: 100%;
    height: 30%;
    margin: 1%;
    padding: 1%;
}
.row2{
    width: 100%;
    height: 20%;
    margin: 1%;
    padding: 1%;
}
.board #life{
    float: left;
    color: var(--star);
    font-size: 8rem;
    width: 20%;
    height: 20%;
    margin: 1%; 
}
.board #level{
    float: left;
    color: var(--star);
    font-size: 5rem;
    width: 20%;
    height: 20%;
    margin: 1%;
    display: block;
    
}
.board .sun{
    width:150px;
    height:150px;
    display:inline-block;
    background-color:#fdb813;
    margin:auto;
    text-align:center;
    vertical-align:middle;
    border-radius:50%;
}
.board .moon{
    width:170px;
    height:170px;
    /* display:inline-block; */
    background-color: var(--moon);
    /* margin:2%; */
    margin-top: 0;
    margin-right: 5%;
    text-align:center;
    border-radius:50%;
    float: right;
    padding: 1%;
    color: var(--sky);
    font-size: 10rem;
    /* font-weight: 700;; */
}

.star{
    color: var(--star);
    font-size: 3rem;
}
button{
    /* color: var(--star); */
}
input{
    height: 35px;
    width: 30%;
    padding: 1%;
    text-align: center;
    font-size: 2rem;
    
    border: none;
}

#nickName{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 30rem;
}
#wordInput{
    border-radius: 0.5rem;
    width: 50%;
    margin-top: 1rem;
}

.btn-group{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height: 50%;
    vertical-align: middle;
}
.playBtn-group{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    height: 50%;
    display: none;
}
#submitNickName{
    height: 35px;
    padding: 1%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
}
#startBtn {
    float: right;
    height: 50px;
    padding: 1%;
    border-radius: 50%;
    margin-right: 2rem;
    border: none;
    width: 50px;
    background-color: var(--green);
    /* color: var(--white); */
}
#quitBtn{
    float: right;
    height: 50px;
    padding: 1%;
    border-radius: 50%;
    margin-right: 2rem;
    border: none;
    width: 50px;
    background-color: var(--red);
    color: var(--white);
}
#modal{
    position: fixed;
    top: 0;
    left: 5;
    width: 900px;
    height: 100%;
    background-color:  var(--sky);
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}
#modal-textbox{
    background-color: var(--white);
    border-radius: 5px;
	height: 350px;
	width: 550px;
	margin: 15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
#instBtn{
    width: 5rem;
    height: 5rem;
    float: right;
    border: none;
    border-radius: 50%;
    background-color: #fdb813;
    margin: 5px 0 0 5px;
    cursor: pointer;
    color: var(--white);
    font-size: 2rem;
}
#close{
    font-size: 4rem;
    cursor: pointer;
    color: var(--sky);
}
.buttonDisable{
    color:gray;
}
.buttonAble{
    color: var(--star);
}

